<%= error_messages_for(@user)%>

<table summary="Listing form fields">
	<tr>
		<th><%= f.label(:url, "Purchase link")%></th>
		<td><%= f.text_field(:url, :size => 30, :maxlength => 40) %></td>
	</tr>
	<tr>
		<th><%= f.label(:metro_area, "Physical city")%></th>
		<td><%= f.text_field(:metro_area, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:price, "Price")%></th>
		<td><%= f.text_field(:price, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:discount_percent, "Discount %")%></th>
		<td><%= f.text_field(:discount_percent, :size => 30, :maxlength => 40)%></td>
	</tr>
</table>