<%= error_messages_for(@user)%>

<table summary="Listing form fields">
	<tr>
		<th><%= f.label(:url, "Purchase link")%></th>
		<td><%= f.text_field(:url, :size => 30, :maxlength => 40) %></td>
	</tr>
	<tr>
		<th><%= f.label(:metro_area, "Physical city")%></th>
		<td><%= f.select(:metro_area, options_for_select(@cities) ) %></td>
	</tr>
	<tr>
		<th><%= f.label(:price, "Price")%></th>
		<td><%= f.select(:price, options_for_select([['$', 1], ['$$', 2], ['$$$', 3], ['$$$$', 4], ['$$$$$', 5] ]) )%></td>
	</tr>
</table>