<div id ="holder"></div>
<div class="overlay"></div>


<h1>Edit</h1>
<hr>


<table summary ="collection detail">
	<tr>
		<th> <%= image_tag @scrap.photo.url(:thumb) %>
			<% @images.each_with_index do |image, index|%>
			<th><div class="thumb_to_delete", id="scrap_image"><%= link_to image_tag(image.image.url(:thumb)), {:action => "destroy_image_to_scrap", :id => image.id}%> 
				<div class="delete_text">click to<br/> delete</div>
				</div>
			<% if (index+1)%3==0 %>	
		</th></tr><tr>
			<% end %>		
			<%end%>
		<th><%= link_to('+image', {:action => 'add_img_to_scrap', :controller => 'scrap', :id => @scrap.id})%>
		</th>
	</tr>
</table> 

<br/><br/>

<%= form_for(:scrap, :url => {:action => 'update_scrap', :id => @scrap.id}, 
:html => { :multipart => true, :id => "form" }) do |f| %>

<%= render(:partial => "scrap_form", :locals => {:f => f})%>

<%= submit_tag "Update", :class=>'button' %>
<% end %>

 <br/>

<div id ="delete_scrap"><%= link_to "delete this scrap", :method => :get, :action => :edit%></div>


<div class='dialog', id ="dialog_icon">
	
	<p>Are you sure you want to delete your image?</p>
	<table summary = "delete scrap confirmation">
		<tr>
			<td> <%= link_to('Yes', {:action => 'destroy_image_to_scrap', :controller => 'scrap', :scrap_id => params[:id]})%></td>
			<td> <%= link_to('No', :class => "close_dialog")%></td>
		</tr>
	</table>
</div> <br><br>

<div class='dialog', id ="dialog_scrap">
	
	<p>Are you sure you want to delete your scrap?</p>
	<table summary = "delete scrap confirmation">
		<tr>
			<td> <%= link_to('Yes', {:action => 'destroy_scrap', :controller => 'scrap', :scrap_id => params[:id]})%></td>
			<td> <%= link_to('No', :class => "close_dialog")%></td>
		</tr>
	</table>
</div>
