<div id = "scrap_detail_table" ng-app="MyApp" ng-controller = "TabController">
	<h4> <%=@scrap.name%> 		
		<%= process_favorite(@scrap)%>
	</h4> 

	<hr>

	<div class = "column">
		<div id="scrap_pic"><%=image_tag @image.url, :size => "300x300"%></div><br>
	</div>

	<div class = "column">		
		<div id = "icon_table">
			<% @icons.in_groups_of(5, false) do |row_of_icons|%>
			<div class="row">
				<% for icon in row_of_icons%>
				<%= link_to image_tag(image.image.url(:thumb)), {:action => 'switch_image', :controller => 'scrap', :image_id => image.id}, :class => "icon_pic" %>
				<%end%>
			</div>
			<%end%>
		</div>

		<!-- if uploaded by vendor-->
		<%if !@vendor.blank?%>
		<p>by <%= link_to(@vendor.company, {:action => 'vendor_detail', :controller => 'vendor', :vendor_id => @vendor.id}, {:class => "fancybox", :class => "vendor"})%>
		</p>
		<%end%>

		<!-- if there are keywords-->
		<%if !@keywords.empty?%>
		<p class="keywords"> Keywords:
			<% @keywords.each do |keyword|%>
			<%= link_to keyword.name, {:action => 'browse_collection', :controller => 'collection', :keyword_id => keyword.id}, {:target => "_parent"}%> 
			<%end%> 
		</p>
		<%end%>


		<%if !@scrap.description.blank?%>
		<br>
		<p style="text-align: left"><%= simple_format(word_wrap(@scrap.description, 50))%></p>
		<hr>
		<%end%>

		<%if !@listings.blank?%>
		<p>
			available in: 
			<% @listings.each_with_index do |listing|%>
			<%= link_to listing.metro_area, url_with_protocol(listing.url), :target => '_parent', :class => 'city' %>
			<% listing.price.times do -%>$<% end -%>
			<% end %>
		</p>

		<p><i class='icon-hand-right'></i> Call:  <%=number_to_phone(@vendor.phone)%></p>
		<hr>
		<%end%>


		<%if !@tabs.blank? %>
		<%= form_tag({:action => 'update_tabs', :controller => "scrap", :scrap_id => @scrap.id}, {:target => "_parent"}) do |f| %>
		<p id="tabs">tabs: <br>
			<%= render(:partial => "scrap/partials/create_tab", :locals => {:tabs => @tabs, :scrap => @scrap})%>	
		</p>

		<div style="margin-left: 25%"><%= submit_tag "save", :class => "button", :id => "tab_update", :style => "display: none"%></div>

		<%end%>	


		<% end %>

		<%= render(:partial => "common/add_tab_form")%>	


	</div>
	
	<%if !@vendor_items.blank? %>

	<div class="table">

		<hr>
		<p class="lead" style="align: 'right';">Also by <%= link_to(@vendor.company, {:action => 'vendor_detail', :controller => 'vendor', :vendor_id => @vendor.id}, {:class => "fancybox", :class => "vendor", :style => "font-size: 24px"})%>:</p>

		<% @vendor_items.each_with_index do |scrap, index|%>
		<%= link_to image_tag(scrap.photo.url(:thumb)), {:action => 'view_scrap_detail', :controller => 'scrap', :scrap_id => scrap.id}, :class => "icon_pic" %>
		<%end%>
	</div>

	<%end%>


</div>
