<div id = "scrap_detail_table" style="padding:10px 30px">
	<h4> <%=@scrap.name%> </h4> 

	<hr>
	<div class = "column">
		<!-- if alternative picture is present (one that's other than the scrap photo), use that as the main image-->
		<% if @image%>
		<div id="scrap_pic"><%=image_tag @image.image.url%></div>
		<%else%>
		<div id="scrap_pic"><%= image_tag @scrap.photo.url%></div>
		<%end%>
		<br>
	</div>

	<div class = "column" style="text-align: left; padding: 0px 10px">		
		<!-- if alternative picture is present (one that's other than the scrap photo), present the icon for scrap.photo-->
		<div id = "icon_table">
			<% if @image%>
			<%= link_to image_tag(@scrap.photo.url(:thumb)), {:action => 'view_scrap_detail', :controller => 'scrap', :id => @scrap.id}, :class => "icon_pic"%>
			<%end%>

			<% @images.each_with_index do |image, index|%>
			<%= link_to image_tag(image.image.url(:thumb)), {:action => 'switch_image', :controller => 'scrap', :id => image.id}, :class => "icon_pic" %>
			<% if (index+1)%5==0 %>
		</div>
		<div class="row">
			<%end%>		
			<%end%>
		</div>


		<%if !@creator_name.blank?%>
		<h6>by <%= @creator_name%> </h6>

		<%= simple_format(word_wrap(@scrap.description, 50))%>
		<hr>

		<%if @listings.blank?%>
		<p>This item is currently unavailable.</p>
		<%else%>
		available in: 
		<% @listings.each_with_index do |listing|%>
		<p>
		<%= link_to listing.metro_area, url_with_protocol(listing.url), :target => '_parent' %>
		<% listing.price.times do -%>$<% end -%>
		</p>
		<% end %>		
		<p><i class='icon-hand-right'></i> Call:  <%=number_to_phone(@phone)%></p>
		<%end%>

		<%end%>



		<div class="row btn-toolbar">
			<%if !@tabs.blank? %>

			<div class="btn-group">
				<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
					Add To
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">

					<% @tabs.each_with_index do |tab|%>
					<%= link_to(tab.name, {:controller => 'tab', :action => 'include_in_tab', :tab_id => tab.id, :scrap_id => @scrap.id}, {:target => '_parent'} )%>
					<% end %>		
				</ul>
			</div>	

			<%end%>	

			<%if !@remove_tabs.blank? %>

			<div class="remove_from_tab btn-group">
				<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
					Remove From
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">

					<% @remove_tabs.each_with_index do |tab|%>
					<%= link_to(tab.name, {:controller => 'tab', :action => 'remove_from_tab', :tab_id => tab.id, :scrap_id => @scrap.id}, {:target => '_parent'} )%>
					<% end %>		
				</ul>
			</div>	

			<%end%>	
		</div>


	</div>
	<hr>


	<%if !@vendor_items.blank? %>
	<p class="lead" style="text-align: 'right';">Also by this vendor:</p>

	<div id = "icon_table" style="display:inline">
		<% if @image%>
		<%= link_to image_tag(@scrap.photo.url(:thumb)), {:action => 'view_scrap_detail', :controller => 'scrap', :id => @scrap.id}, :class => "icon_pic"%>
		<%end%>

		<% @vendor_items.each_with_index do |scrap, index|%>
		<%= link_to image_tag(scrap.photo.url(:thumb)), {:action => 'switch_scrap', :controller => 'scrap', :id => scrap.id}, :class => "icon_pic" %>
		<%end%>
	</div>

	<%end%>


</div>