<%= error_messages_for(@user)%>


<table summary="User form fields">
	<tr>
		<th><%= f.label(:first_name, "First Name")%></th>
		<td><%= f.text_field(:first_name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:last_name, "Last Name")%></th>
		<td><%= f.text_field(:last_name)%></td>
	</tr>
	<tr>
		<th><%= f.label(:email, "Email")%></th>
		<td><%= f.text_field(:email)%></td>
	</tr>

	<% if(password_display)%>
	<tr>
		<th><%= f.label(:password, "Password")%></th>
		<td><%= f.password_field(:password)%></td>
	</tr>
	<tr>
		<th><%= f.label(:password_confirmation, "Retype Password")%></th>
		<td><%= f.password_field(:password_confirmation)%></td>
	</tr>
	<%end%>

	<tr>
		<th><%= f.label(:metro_area, "Your City")%></th>
		<td><%= f.select(:metro_area, options_for_select(@cities))%></td>		
	</tr>
	<tr>
		<th><%= f.label(:zipcode, "Your Zipcode")%></th>
		<td><%= f.text_field(:zipcode)%></td>		
	</tr>
	<tr>
		<th><%= f.label(:user_level, "Are you a vendor?")%></th>
		<th>
			<%= f.radio_button(:user_level, 3, :id => 'vendor_yes') %>Yes
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= f.radio_button(:user_level, 1, :id => 'vendor_no') %>No
		</th>
	</tr>
</table>

<br/><br/>