<%= error_messages_for(@user)%>

<table summary="User form fields">
	<tr>
		<th><%= f.label(:first_name, "First Name")%></th>
		<td><%= f.text_field(:first_name, :size => 30, :maxlength => 40) %></td>
	</tr>
	<tr>
		<th><%= f.label(:last_name, "Last Name")%></th>
		<td><%= f.text_field(:last_name, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:user_name, "User Name")%></th>
		<td><%= f.text_field(:user_name, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:email, "Email")%></th>
		<td><%= f.text_field(:email, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:hashed_password, "Password")%></th>
		<td><%= f.password_field(:hashed_password, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:hashed_password_confirmation, "Retype Password")%></th>
		<td><%= f.password_field(:hashed_password_confirmation, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:metro_area, "Your City")%></th>
		<td><%= f.text_field(:metro_area, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:user_level, "Are you a vendor?")%></th>
		<th>
			<%= f.radio_button(:user_level, 3, :id => 'vendor?_radio_button_yes') %>Yes
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= f.radio_button(:user_level, 1, :id => 'vendor?_radio_button_no') %>No
		</th>
	</tr>
</table>
<div id = "hidden_form">
	<table summary ="Vendor form fields">

		<tr>
			<th><%="Company Name"%></th>
			<td><%= f.text_field(:company, :size => 30, :maxlength => 40)%></td>
		</tr>
		<tr>
			<th><%="Company Website"%>&nbsp;&nbsp;</th>
			<td><%= f.text_field(:website, :size => 30, :maxlength => 40)%></td>
		</tr>
		<tr>
			<th><%="Company Address"%>&nbsp;&nbsp;</th>
			<td><%= f.text_field(:company_address, :size => 30, :maxlength => 40)%></td>
		</tr>
		<tr>
			<th><%="Phone Number"%>&nbsp;&nbsp;</th>
			<td><%= f.text_field(:phone, :size => 30, :maxlength => 40)%></td>
		</tr>
		</table> <br/>
		
		<div class = "small_tagline"><%= "Are you interested in listing your items?"%> <br/><br/>
		Yes! <%= check_box_tag(:user_level, 4, false)%></div> 
</div>
<br/><br/>
