<div id = "hidden_form">
	<table summary ="Vendor form fields">

		<tr>
			<th><%="Company Name"%></th>
			<td><%= f.text_field(:company, :size => 30, :maxlength => 40)%></td>
		</tr>
		<tr>
			<th><%="Company Website"%>&nbsp;&nbsp;</th>
			<td><%= f.text_field(:website, :size => 30, :maxlength => 40)%></td>
		</tr>
		<tr>
			<th><%="Company Address"%>&nbsp;&nbsp;</th>
			<td><%= f.text_field(:company_address, :size => 30, :maxlength => 40)%></td>
		</tr>
		<tr>
			<th><%="Phone Number"%>&nbsp;&nbsp;</th>
			<td><%= f.text_field(:phone, :size => 30, :maxlength => 40)%></td>
		</tr>
		</table> <br/>
		
		<div class = "small_tagline"><%= "Are you interested in listing your items?"%> <br/><br/>
		Yes! <%= check_box_tag(:user_level, 4, false)%></div> 
</div>