<% @page_title ="Edit Profile"%>
<h1>Edit Profile</h1>
<hr><br>

<div class = "user_edit">

<%= form_for(:user, :url => {:action => 'update'}) do |f| %>
<table summary="User form fields">
	<tr>
		<th><%= f.label(:first_name, "First Name")%></th>
		<td><%= f.text_field(:first_name, :size => 30, :maxlength => 40) %></td>
	</tr>
	<tr>
		<th><%= f.label(:last_name, "Last Name")%></th>
		<td><%= f.text_field(:last_name, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:email, "Email")%></th>
		<td><%= f.text_field(:email, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:metro_area, "Your City")%></th>
		<td><%= f.text_field(:metro_area, :size => 30, :maxlength => 40)%></td>
	</tr>
	<tr>
		<th><%= f.label(:user_level, "Are you a vendor?")%></th>
		<th>
			<%= f.radio_button(:user_level, 3, :id => 'vendor_yes') %>Yes
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= f.radio_button(:user_level, 1, :id => 'vendor_no') %>No
		</th>
	</tr>
</table> <br><br><br>

<%= submit_tag "update", :class=>'button'%>

<% end %>

 <br><br><br>

<span style='text-decoration:underline'>
<%= link_to 'Delete Profile', :action => 'delete', :controller => 'access'%>

</span>


</div>


