<% @page_title = "Log In"%>

<h1>Log In </h1>
<hr><br/><br/>

<div class = "login">

<%= form_tag(:action => "authenticate") do %>
<table summary="User form fields">
	<tr>
		<th><%= label_tag(:user_name)%></th>
		<td><%= text_field_tag(:username, params[:username])%></td>
	</tr>
	<tr>
		<th><%= label_tag(:password)%></th>
		<td><%= password_field_tag(:password)%></td>
	</tr>		
</table><br/>

<%= submit_tag "log in", :class=>'button'%>
<%end%>		
<br/><br/>


<div id ="navigation_link"> <%= link_to('sign up', {:action => 'signup'})%> </div>




