<p class="lead" style="text-align:left"><%=user.first_name.capitalize%>'s Wedding Collection... </p>


<div id = "tab_menu", class = 'table'>		
	<ul class="nav nav-tabs">
		<%if(params[:tab] == 'all' || params[:tab].blank?)%><li class = 'active'>
		<%else%><li>
		<%end%>		
		
		<%=link_to("view all", {:action => "view_collection", :controller => "collection", :tab => 'all', :id => 'all'})%></li>

		<% @tabs.each_with_index do |tab, index|%>
			<%if(params[:tab].to_i == tab.id)%><li class = 'active'>
			<%else%><li>
			<%end%>		
		
		<%=link_to(tab.name, {:action => "view_collection",  :controller => "collection", :tab => tab.id})%></li>
		
		<%end%>	

		<li>
			<%= link_to "Test",  {:action => 'test'}, :remote=> true%>
		</li>

		<li><%= link_to raw('<i class="icon-plus"></i>Add Tab'), {:action => 'edit', :controller => 'scrap'}%>
		</li>


	</ul>
</div>