<div id = "collection_table">
	<div class ="row">
		<% images.each_with_index do |image, index|%>
		<div class ="scrap_block">
		<div class="scrap_asset"><%=link_to image_tag(image.photo.url(:medium)), {:action => "view_scrap_detail", :id => image.id, :controller => "scrap"}, :class => 'fancybox'%></div>
		
		<%if(image.creator_id == session[:user_id])%>		
		<%= link_to raw('<i class="icon-pencil"></i>'), {:action => 'edit', :controller => 'scrap', :id => image.id}, :title => 'edit', :class => "edit_icon fancybox"%>
		<%elsif(link_description == 'remove bookmark')%>
		<%= link_to raw('<i class="icon-remove-circle"></i>'), {:action => method, :controller => 'share', :id => image.id}, :title => 'remove bookmark', :class => "edit_icon"%>
		<%else%>
		<%= link_to raw('<i class="icon-tag"></i>'), {:action => method, :controller => 'share', :id => image.id}, :title => 'bookmark', :class => "edit_icon"%>
		<%end%>
		
		<div class = 'scrap_name'><%=image.name%></div>
		</div>
			<% if (index+1)%images_per_row==0 %>
			</div><div class ="row">
			<% end %>		
		<%end%>
</div>

<br/><br/>
