<%= error_messages_for(@scrap)%>

<table summary= "scrap form">
	<tr>
		<th><%= f.label("Upload your scrap: ")%>&nbsp;&nbsp;</th> 
		<td><%= f.file_field(:photo) %></td>
	</tr>
	<tr>
		<th><%= f.label(:name, "Name your scrap: ")%></th>
		<td><%= f.text_field(:name, :size => 40, :maxlength => 40) %></td>
	</tr>
	<tr>
		<th><%= f.label(:description, "Describe your scrap: ")%></th>
		<td><%= f.text_area(:description, :size => "30x7") %></td>
	</tr>
	<tr>
		<th><%= f.label(:visible, "Visible to public?")%></th>
		<th>
			<%= f.radio_button(:visibility, true) %>Yes
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<%= f.radio_button(:visibility, false) %>No
		</th>
	</tr>
	
</table>
<br/>

<table class = "categories">
	<tr><div class="tag", id ="select_category_instruction"><%= label(:category, "This is a")%></div></tr>
	<tr>
		<% @categories.each do |cat| %>
		<th><%= check_box_tag('categories[]', cat.id, @scrap.categories.map {|c| c.id}.include?(cat.id))%>
			<%= cat.name%> </th>
		<%end%>	
	</tr>	
</table>
<br/>

<hr>
