<% content_for :header do %>
<%= render "common/home_header" %>
<%end%>

<br/>

<%= form_tag(:action => 'search') do%>

<%= text_field_tag(:search, "", :size => 25, :maxlength => 40) %>
<%= submit_tag ("search")%>
<%end%>
<hr> 

<!--my collection-->

<% if !@collection.blank?%>
<div class = "my_scrap">
	<br/>
	<div id = "filter_my_collection"><%= link_to("my collection", "#", :class => "collection_name")%></div>
	<%= render(:partial => "collection_view", :locals => {:images => @collection, :link_description => "edit", :method => "edit_scrap", :controller => "scrap"})%>
	<hr></div>
</div>

<%end%>


<!--bookmarked collection-->

<% if !@shared_collection.blank?%>
<div class = "bookmarked_scrap">	
	<br/>
	<div id = 'filter_bookmarked_collection'><%= link_to("bookmarked", "#", :class => "collection_name")%></div>
	<%= render(:partial => "collection_view", :locals => {:images => @shared_collection, :link_description => "remove bookmark", :method => "remove_bookmark", :controller => "share"})%>
	<hr></div>

	<%end%>

	<% if @collection.blank? && @shared_collection.blank?%>
	<div id = "instruction">	
		<p>You have a pretty clean slate. <br/>
			<%= link_to('add a scrap', {:action => 'add_scrap', :controller => 'scrap'})%> or 
			<%= link_to('explore', {:action => 'browse_collection'})%> 	
		</p>
	</div>
	<%end%>