<div class="hero-unit page-shadow" style="height: 70px">
	<% if @user.avatar_file_name%>
	<%= link_to image_tag(@user.avatar.url(:thumb), :size =>'40x40', :class => "img-rounded"), {:action => 'profile', :controller => 'access'}%>
	<%end%>	

	<%=link_to(@user.first_name.capitalize + "'s Wedding Binder", {:action => "view_collection"}, {:class => "gold"})%>

	<%= form_tag({:action => 'search', :controller => "collection", :user_specific => true}) do%>
	<%= text_field_tag(:search_home, "", :class => 'search', :field => 'search my stuff...', :autocomplete => "off" ) %>
	<button type="submit" class = 'button'><i class="icon-search"></i></button>
	<%end%>
</div>

<img src="/assets/ring.png" height="70px" width="70px" style="position:absolute; top:215px; left: 170px; z-index: 3">
<img src="/assets/ring.png" height="70px" width="70px" style="position:absolute; top:215px; left: 210px; z-index: 3">

<div id="mainpage">

	<br><br><br><hr class="dashed">

	<div id="left_panel" >
		<%= render(:partial => "collection/partials/left_panel", :locals => {:user => @user, :categories => @categories, :tags => @tags})%>
	</div>


	<div ng-app="MyApp" ng-controller = "TabController" id="center_panel" style="position: absolute; top: 399px; margin-top:-370px;">
		<%= render(:partial => "collection/partials/home_center_top_panel", :locals => {:user => @user})%>	

		<div id="center_panel_content">
			<%if current_page?(:action => 'view_collection') && get_session_user.instructed%>
			<div class="scrap_block_blank">
				<div class="scrap_asset"><%=link_to(image_tag('/assets/AddClip.png', {:style => "width:200px; height:290px"}), {:action => "upload_scrap", :controller => "scrap"})%>
				</div>
			</div>
			<%end%>

			<%= render(:partial => "collection/partials/home_center_panel", :locals => {:user => @user, :collection => @collection})%>
		</div>
	</div>


</div>