<% for image in images%>
<div class ="scrap_block">
	<div class="scrap_asset">
		<%=link_to(image_tag(image.photo.url(:medium)), {:action => "view_scrap_detail", :scrap_id => image.id, :controller => "scrap"}, {:class => 'fancybox'})%>
	</div>

	<div class = 'scrap_name'>
		<%=image.name%>  <br>
		<%if image.visibility%>
		by <%= link_to(image.creator.vendor.company, {:action => 'vendor_detail', :controller => 'vendor', :vendor_id => image.creator.vendor.id}, {:class => "fancybox vendor"})%>
		<%end%>

		<%= process_favorite(image)%>
	</div>

	<div class="scrap_hover">
		<%=link_to({:action => "view_scrap_detail", :scrap_id => image.id, :controller => "scrap"}, {:class => 'fancybox', :remote => true}) do%>
		<h6><%= image.name%></h6>
		<p><%= truncate(image.description, :length => 300)%></p>
		<%end%>
	</div>
</div>
<%end%>
