<div id="avatar" style="padding-top:50px;">		
	<% if user.avatar_file_name%>
	<%= link_to image_tag(user.avatar.url(:thumb), :size =>'50x50', :class => "img-rounded"), {:action => 'profile', :controller => 'access'}%>
	<%else%>
	<%= link_to(user.email, {:action => 'profile', :controller => 'access'})%>
	<%end%>
</div><br/>

<%= form_tag({:action => 'search', :controller => 'collection', :user_specific => true, :class => 'row'}, {:remote => true}) do%>
<%= text_field_tag(:search_home, "", :class => 'search', :autocomplete => "off" ) %>
<button type="submit" class = 'button'><i class="icon-search"></i></button>
<%end%>

<hr>

<div id="category_table">
	<h4>
		categories
	</h4>
	<% categories.each_with_index do |category, index|%>

	<%= link_to(category.name, {:action => "category_filter", :id => category.id, :controller => "collection", :user_specific => true}, :remote => true) %>

	<% if (index+1)%3==0 %>
	<br>
	<%end%>		
	<%end%>
</div>

<hr>

<div id = "collection_menu", class = 'table'>
	<h4>
		sources
	</h4>		

	<% @collection.each_with_index do |collection, index|%>
	<%=link_to(collection.name, {:action => "source_filter", :id => collection.id, :controller => "collection", :collection => collection.id}, :remote => true)%>

	<%end%>	
</div>