<br><br><br>
<%if !categories.blank?%>
<div id="category_table"><br>
	categories
	<br><br>
	<% categories.in_groups_of(4, false) do |row_of_categories|%>
	<% for category in row_of_categories%>
	<%= link_to(category.name, {:action => "category_filter", :category_id => category.id, :controller => "collection", :user_specific => true}, :remote => true) %>&nbsp;&nbsp;
	<%end%>
	<br>
	<%end%>
</div>

<br>
<hr ><br>
<%end%>

<%= link_to(raw('<i class="icon-star"></i> my favorites'), {:action => "category_filter", :controller => "collection", :favorite => true}, :remote => true) %>
<br><br>
<hr>

<div id="vision_boards"><br>
	my pages <br><br>
	<% @vb.each_with_index do |vb, index|%>
	<p><%= vb.name%>
		<%= link_to(image_tag(vb.photo.url, :size => "100x100"), vb.photo.url, {:class => "fancybox_vb", :title => vb.name})%>
		<%= link_to(raw('<i class="icon-trash"></i>'), {:action => 'delete', :controller => 'visualize', :vb_id => vb.id})%>

	</p>
	<% if (index+1)%3==0 %>
	<br>
	<%end%>		
	<%end%>

	<br>
	<br>
	<br>

</div>
