<div id="tool_menu" >
	<%if session[:user_id] == nil%>
	<%= link_to('Login', {:action => 'login', :controller => 'access'})%>
	<%= link_to('Sign Up', {:action => 'signup', :controller => 'access'})%>
	<%else%>
	<a href="#" id="add_menu"><i class="icon-plus icon-white"></i> ADD</a>
	<a href="#" id="account_menu"><i class="icon-user icon-white"></i> ACCOUNT</a> 
	<a href="#" id="account_menu"><i class="icon-search icon-white"></i> SEARCH</a> 
    
	
	<%end%>
</div>

<div id="account_menu_expand">
	<div class="row"><%= link_to('profile', {:action => 'profile', :controller => 'access'})%></div>
	<div class="row"><%= link_to('logout', {:action => 'logout', :controller => 'access'})%></div>
</div>	

<div id="add_menu_expand">
	<div class="row"><%= link_to('image', {:action => 'upload_scrap', :controller => 'scrap'})%></div>
	<div class="row"><%= link_to('collection', {:action => 'add_collection', :controller => 'collection'})%></div>
</div>

<div id= "home_menu">

	<%= link_to_unless_current("home", :action => 'view_collection', :controller => 'collection') do %>
	<i class="icon-home icon-white"></i>
	Home
	<%end%>
	
	<%= link_to_unless_current("explore", :action => 'browse_collection', :controller => 'collection') do%>
	<i class="icon-globe icon-white"></i>
	Explore
	<%end%>

</div>