<div class="navbar navbar-fixed-top" style="margin-left: auto; margin-right:auto; width: 80%; background-color: white; opacity: 1; height: 44px"></div>

<div class="navbar navbar-fixed-top" style="margin-left: auto; margin-right:auto; width: 80%; ">
	<div class="navbar-inner" style ="padding: 0px 10px; min-width: 1000px">
		
		<%if logged_in?%>
		<%= link_to('LittleBlueBinder', {:action => 'view_collection', :controller => 'collection'}, {:class => "brand"})%>

		<%else%>
		<%= link_to('LittleBlueBinder', {:action => 'landing_page', :controller => 'collection'}, {:class => "brand", :style => "padding: 10px 30px"})%>

		<%end%>


		<%= render(:partial => "common/partials/navbar_search")%>	


		<% if vendor_authorization?%>

		<ul class="nav pull-right">

			<%=menu_nav_current?('view_items') %> 
			<%= link_to("Home", :action => 'view_items', :controller => 'vendor') %></li>


			<%=menu_nav_current?('dashboard') %> 
			<%= link_to("Dashboard", :action => 'dashboard', :controller => 'vendor') %></li>

			<%=menu_nav_current?('logout') %> 
			<%= link_to("Log out", :action => 'logout', :controller => 'access') %></li>
		</ul>


		<% elsif logged_in?%>
		<ul class="nav pull-right">

			<%=menu_nav_current?('view_collection', 'tab_filter') %> 
			<%= link_to(user_binder, :action => 'view_collection', :controller => 'collection') %></li>

			<%=menu_nav_current?('browse_collection', 'browse_vendors') %> 
			<%= render(:partial => "common/partials/browse_dropdown")%>	

			<%=menu_nav_current?('upload_scrap') %> 
			<%= render(:partial => "common/partials/clip_dropdown")%>	

			<%=menu_nav_current?('index') %> 
			<%= link_to("Visualize", :controller => 'visualize') %></li>

			<%=menu_nav_current?('profile') %> 
			<%= render(:partial => "common/partials/profile_dropdown")%>	


		</ul>

		<%else%>
		<ul class="nav pull-right">

			<%=menu_nav_current?('browse_collection', 'browse_vendors') %> 
			<%= render(:partial => "common/partials/browse_dropdown")%>	


			<%=menu_nav_current?('signup') %> 
			<%= link_to("sign up", {:action => 'signup', :controller => 'access'}) %></li>

			<%=menu_nav_current?('login') %> 
			<%= link_to("log in", :action => 'login', :controller => 'access') %></li>

		</ul>		
		<%end%>
	</div>
</div>

<br><br>
