<!DOCTYPE html>
<html ng-app="MyApp">
<head>
	<title>Scrap Something | <%= @page_title || 'Home' %></title>
	<%= stylesheet_link_tag('application', 'access', :media => "all" )%>
	<%= javascript_include_tag 'application', 'access' %>
	<%= csrf_meta_tags %>
</head>
<body bgcolor="#E6E6FA">
	<%= render "common/general_menu" %>

	<% if !flash[:warning].blank?%>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong><%= flash[:warning]%></strong>
	</div>
	<%end%>

	<% if !flash[:notice].blank?%>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong><%= flash[:notice]%></strong>
	</div>
	<%end%>

	<br/><br/>

	<%= yield %>

	<br/><br/>


</body>
</html>