<!DOCTYPE html>
<html>
<head>
<title>Scrap Something | <%= @page_title || 'Collections' %></title>
<%= stylesheet_link_tag('collection', 'application', :media => "all" )%>
<%= javascript_include_tag('application', 'collection')%>
<%= csrf_meta_tags %>

</head>

<body>
<div style="min-width: 960px; margin: 0 auto;">
	
<div id="account_menu">
<table summary = "account menu">
	<tr>
		<th> <%= link_to('Account', {:controller => 'access', :action => 'profile'})%></th>
		<th> <%= link_to('Log out', {:controller => 'access', :action => 'logout'})%></th>
	</tr>
</table>
</div>
<br/><br/>

<table class = "header_menu">
	
	<tr><th><div id="small_menu"> <%= link_to('Home', {:action => 'view_collection', :controller => 'collection'})%> </th> </div> 
	<th><div class = "big_white_divider"> | </div></th> 
	<th><div id="big_menu"> <%= link_to('Browse', {:action => 'browse_collection', :controller => 'collection'})%> </th></tr>

</table>

<%= yield %>


<div id="collection_edit_menu">
<table summary = "edit menu">
	<tr> <th><%= link_to('+Scrap', {:action => 'add_scrap', :controller => 'scrap'})%></th>
	<th><%= link_to('+Plan', {:action => 'add_plan'})%></th>
</table>
<br/><br/>
</div>

<div id="left"></div>
<div id="right"></div>
<div id="bottom"></div>
<div id="top"></div>

<br/><br/>
<div class="notice">
<% if !flash[:notice].blank?%>
<%= flash[:notice]%>
<%end%>
</div>


</div>
</body>
</html>