<!DOCTYPE html>
<html>
<head>
<title>Scrap Something | <%= @page_title || 'Collections' %></title>
<%= stylesheet_link_tag('collection', 'application', :media => "all" )%>
<%= javascript_include_tag('application', 'collection')%>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<%= csrf_meta_tags %>

</head>

<body>
<div style="min-width: 960px; margin: 0 auto;">	
	
<div id="account_menu">
<table summary = "account menu">
	<tr>
		<th> <%= link_to('Account', {:controller => 'access', :action => 'profile'})%></th>
		<th> <%= link_to('Log out', {:controller => 'access', :action => 'logout'})%></th>
	</tr>
</table>
</div>
<br/><br/>

<table class = "header_menu">
	
	<tr><th><div id="big_menu"> <%= link_to('Home', {:action => 'view_collection', :controller => 'collection'})%> </div></th>
	<th><div class = "big_white_divider"> | </div></th> 
	<th><div id="small_menu"> <%= link_to('Browse', {:action => 'browse_collection', :controller => 'collection'})%> </div></th></tr>

</table>

<div id="detailed_view_scrap_name"> <%=@scrap.name%><br/></div><hr>

<%= yield %>
		<% if @image%>
			<th><div id="scrap_pic"><%= image_tag @image.image.url%></div></th>
		<%else%>
		<th><div id="scrap_pic"><%= image_tag @scrap.photo.url%></div></th>
		<%end%>
		<th>
			<div id="scrap_categories"><%= @categories.map { |i| i.to_s }.join(", ") %></div>
			<div id="scrap_details"><%= simple_format(word_wrap(@scrap.description, 50))%></div><br/><br/>
			<table id="image_table">
				<tr>
			
		<% if @image%>
			<th><%= link_to image_tag(@scrap.photo.url(:thumb)), :action => 'view_collection_detail', :controller => 'collection', :id => @scrap.id%></th>
		<%end%>
			<% @images.each_with_index do |image, index|%>
			<th><%= link_to image_tag(image.image.url(:thumb)), :action => 'switch_image', :controller => 'scrap', :id => image.id%></div>&nbsp;&nbsp;
				<% if (index+1)%3==0 %>
				</th></tr><tr>
				<% end %>		
			<%end%>
			</th></tr>
			</table>
		</th>
	</tr>
</table>
</div>

<div id ="holder"></div>

<div id ="dialog">
	
	<p>Are you sure you want to delete your scrap?</p>
	<table summary = "delete scrap confirmation">
		<tr>
			<td> <%= link_to('Yes', {:action => 'destroy_scrap', :controller => 'scrap', :id => @scrap.id})%></td>
			<td> <%= link_to('No', {:action => 'view_collection_detail', :controller => 'collection', :id => @scrap.id})%></td>
		</tr>
	</table>
</div>

<hr>


<div id="collection_edit_menu">
<table summary = "edit menu">
	<tr> <th><%= link_to('+Scrap', {:action => 'add_scrap', :controller => 'scrap'})%></th>
	<th><%= link_to('+Plan', {:action => 'add_plan'})%></th>
</table>
<br/><br/>
</div>

<div id="left"></div>
<div id="right"></div>
<div id="bottom"></div>
<div id="top"></div>

<br/><br/>
<div class="notice">
<% if !flash[:notice].blank?%>
<%= flash[:notice]%>
<%end%>
</div>


</div>
</body>
</html>