<!DOCTYPE html>
<html>
<head>
<title>Scrap Something | <%= @page_title || 'Collections' %></title>
<%= stylesheet_link_tag('collection', 'application', :media => "all" )%>
<%= javascript_include_tag('application', 'collection')%>
<%= csrf_meta_tags %>
</head>

<body>
<div style="min-width: 960px; margin: 0 auto;">

<%= yield %>

<div id="left"></div>
<div id="right"></div>
<div id="bottom"></div>
<div id="top"></div>

<br/><br/>
<div class="notice">
<% if !flash[:notice].blank?%>
<%= flash[:notice]%>
<%end%>
</div>


</div>
</body>
</html>