<!DOCTYPE html>
<html>
<head>
	<title>Scrap Something | <%= @page_title || 'Vendor' %></title>

	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<%= stylesheet_link_tag('application', 'collection', 'scrap', 'jquery.fancybox',  :media => "all" )%>
	<%= javascript_include_tag('application', 'collection', 'jquery.fancybox.pack', 'scrap')%>
	<%= csrf_meta_tags %>

</head>
<body>

	<div id="top"></div> <br>

	<% if !flash[:warning].blank?%>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong><%= flash[:warning]%></strong>
	</div>
	<%end%>

	<% if !flash[:notice].blank?%>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong><%= flash[:notice]%></strong>
	</div>
	<%end%>

	<%= render "common/vendor_menu" %> <br>

	<%= yield %>

	<% if !flash[:info].blank?%>
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong><%= flash[:info]%></strong>
	</div>
	<%end%>



</body>
</html>