<!DOCTYPE html>
<html>
<head>
	<title>Scrap Something | <%= @page_title || 'Collections' %></title>
	<%= stylesheet_link_tag('collection', 'application', 'collection_mosaic', 'jquery.fancybox', :media => "all" )%>
	<%= javascript_include_tag('application', 'collection', 'jquery.colorbox-min', 'jquery.fancybox.pack', 'scrap')%>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
	<%= csrf_meta_tags %>

</head>
<body>
	<div class="notice">
		<% if !flash[:notice].blank?%>
		<%= flash[:notice]%>
		<%end%>
	</div>

	<div style="min-width: 960px; margin: 0 auto;">	

	<%= yield :header%>
	<br/><br/>



	<%= yield %>


	<%= render "common/border" %>
	<%= render "common/footer_menu" %>

	<br/><br/>



</div>
</body>
</html>